<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobi.lab.sample_android_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mobi.lab.sample_android_app.LoggingSampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service for the event logging system -->
        <service android:name="mobi.lab.sample_event_logging_library.service.LogPostService" android:process="mobi.lab.sample_event_logging_library.service.LogPostProcess" tools:ignore="MissingRegistered" />

    </application>

</manifest>
